<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="
       http://www.springframework.org/schema/rabbit
       http://www.springframework.org/schema/rabbit/spring-rabbit-1.7.xsd
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">

    <rabbit:connection-factory id="connectionFactory" host="127.0.0.1" port="5672" username="sangbo" password="sangbo" virtual-host="vhost_sangbo"/>

    <rabbit:template id="rabbitTemplate" connection-factory="connectionFactory" exchange="fanoutExchange" />

    <rabbit:admin connection-factory="connectionFactory" />

    <rabbit:queue name="myQueue" auto-declare="true" durable="true"/>

    <rabbit:fanout-exchange name="fanoutExchange" auto-declare="true">
        <rabbit:bindings>
            <rabbit:binding queue="myQueue" />
        </rabbit:bindings>
    </rabbit:fanout-exchange>

    <rabbit:listener-container connection-factory="connectionFactory">

        <rabbit:listener ref="foo" method="listent" queue-names="myQueue"/>

    </rabbit:listener-container>

    <bean id="foo" class="me.sangbo.spring.Client" />

</beans>